inftycdb/
tess-based-ocr/ 
tesseract-3.05.01/ 
leptonica-1.78.0/ 
pytesseract
__pycache__/
modifiedImages/
tess-based-ocr/extractedImages/
enc-dec/
*.zip
!inftycdb/*.py
Math-OCR/
generate*
*.sw*
char-recognition-model/image*
char-recognition-model/outputs/
data/
char-recognition-model/nohup.out
seshat/
xerces-c-3*
